<section layout="row" flex layout="vertical" layout-fill>

  <md-sidenav layout="column" class="md-sidenav-left"  md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"  >

    <md-toolbar class="white-bg  font-black">
      <div class="md-toolbar-tools">
          <span class="pull-right side-menu-profile " flex layout="row">

                <div flex="2">
                  <ng-md-icon icon="camera"></ng-md-icon> Instagram
                </div>
            <div flex layout-align="center center"></div>

            </span>
      </div>
    </md-toolbar>
    <md-content layout-padding class="font-size-small" >

      <md-list>

        <md-item ng-repeat="item in menu">

          <a ui-sref="{{item.link}}"  >
            <md-item-content class="md-clickable font-black font-thin" layout="row" layout-align="start center">
              <div class="padding-right-half">
                <ng-md-icon icon="{{item.icon}}" size="20" style="fill: rgb(189,189,189)"></ng-md-icon>
              </div>
              <div  >{{item.title}}
              </div>
            </md-item-content>
          </a>
        </md-item>

      </md-list>


    </md-content>

    <div flex layout="row" class="footer">
      <md-button flex><ng-md-icon icon="settings"></ng-md-icon></md-button>
      <md-button flex><ng-md-icon icon="people"></ng-md-icon></md-button>
    </div>

  </md-sidenav>

  <md-content flex layout="column">
    <md-toolbar  layout="row">
      <div class="md-toolbar-tools gray-bg font-black" flex layout="row">
        <span flex="7" class="font-thick">
          Top Posts
        </span>

        <span flex  class="pull-right text-right">
          <span ng-show="!showSearch">
              <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
              </md-button>

          </span>

          <span flex ng-show="showSearch" >

              <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
              </md-button>

              <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="enter search">
              </md-input-container>
              <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
              </md-button>



          </span>

        </span>
        <span class="pull-right side-menu-profile " flex="30" layout="row">
          <span flex>
            <ng-md-icon icon="notifications_none" ></ng-md-icon>
          </span>


                <div flex="10">
                  <img class="img-circle" ng-src="images/avatar.png">
                </div>
            <div flex layout-align="center center">
              Cengkuru Michael
            </div>
                <md-menu flex="10">
                  <ng-md-icon ng-click="$mdOpenMenu($event)" icon="keyboard_arrow_down"></ng-md-icon>
                  <md-menu-content width="4">
                    <md-menu-item >
                      <md-button><span md-menu-align-target>Option</span> Logout</md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </span>
      </div>

    </md-toolbar>

    <div layout="column" layout-align="top left" layout-padding>


      <div class='md-padding' layout="row" layout-wrap>
        <md-card class="md-whiteframe-6dp" style="width: 300px;" ng-repeat="user in [1,2,3,4,5,6,7,8,9,10]">
          <img src="http://placehold.it/150x150" class="md-card-image" alt="user avatar">
          <md-card-content layout="row" flex>

            <md-card-avatar flex="20" class="md-card-avatar">
              <img class="md-user-avatar circle" ng-src="images/avatar.png">
            </md-card-avatar>
            <span flex layout-padding layout="column">
              <span>
                John Doe <br>
                 <small class="font-size-xs">5 HOURS AGO</small>
              </span>



            </span>

            <span flex="30" layout-padding class="pull-right text-right">
              1800 <ng-md-icon icon="favorite_border"></ng-md-icon>
            </span>


          </md-card-content>

        </md-card>
      </div>
    </div>
  </md-content>

</section>